# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- C 
- C++ 
- Python 
- Java

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensorflow

Data Science Tools|
------------------
Apache Spark|
Apache Hadoop|
RStudio|

### Below are a few example of evaluating expressions in Python

This a simple arithmetic expression to multiply the add integers

In [23]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [26]:
200/60

3.3333333333333335

## Author
Rudhmila Saba